 * {
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 body {
    display: flex;
    flex-direction: column;
 }

 .header {
    padding: 12px 200px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .header h1 {
    font-size: 24px;
    color: #F9FAF8;
 }

 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 32px;
 }

 a, .top-left p, .footer p {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
 }

 .top {
    display: flex;
    padding: 100px 200px;
    background-color: #1F2937;
    gap: 48px;
 }

 .top-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
 }

 .top-left h2 {
   font-size: 48px;
   color: #F9FAF8;
   font-weight: 900;
 }

 .top-left button, .bottom button{
   padding: 6px 18px;
   border: none;
   outline: none;
   background-color: #3882F6;
   color: #E5E7EB;
   font-size: 18px;
   font-weight: 700;
   border-radius: 8px;
 }

 .image {
    background-color: rgba(230, 230, 230, 0.8);
    height: 300px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    padding: 24px;
 }

 .main {
   display: flex;
   flex-direction: column;
   padding: 100px 200px;
   background-color: #FFFFFF;
   align-items: center;
   gap: 24px;
 }

 .main h3 {
   color: #1F2937;
   font-size: 36px;
   font-weight: 900;
 }

 .info {
   display: flex;
   gap: 24px;
   flex-wrap: wrap;
   justify-content: center;
 }

 .card {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 24px;
 }

 .card div {
   width: 200px;
   height: 200px;
   background-color: #FFFFFF;
   border: 5px solid #3882F6;
   border-radius: 8px;
 }

 .card p {
   width: 200px;
   text-align: center;
 }

 .quote {
   display: flex;
   flex-direction: column;
   padding: 100px 200px;
   background-color: #E5E7EB;
   gap: 12px;
   align-items: flex-end;
 }

 .first {
   font-size: 36px;
   color: #1F2937;
   font-weight: 300;
   font-style: italic;
 }

 .second {
   font-size: 18px;
   font-weight: 800;
   color: #1F2937;
   text-align: right;
 }

 .bottom {
   padding: 100px 200px;
   display: flex;
   background-color: #FFFFFF;
   justify-content: center;
   align-items: center;
 }

 .call {
   display: flex;
   flex-wrap: wrap;
   gap: 12px;
   background-color: #3882F6;
   flex-grow: 1;
   padding: 50px 100px;
   justify-content: space-between;
   align-items: center;
   border-radius: 8px;
 }

 .text {
   display: flex;
   flex-direction: column;
   gap: 12px;
 }

 .text h3 {
   color: #E5E7EB;
   font-size: 36px;
   font-weight: 900;
 }

 .text p {
   color: #E5E7EB;
   font-size: 18px;
   font-weight: 500;
 }

 .bottom .diff {
   border: 2px solid #E5E7EB;
   flex-shrink: 0;
 }

 .footer {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #1F2937;
   padding: 24px 200px;
 }

